@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=sw');

body{
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;    
}
.topo{
    height: 92px;
    width: 414px;
    background-color: #CF2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;    
}
.topo h1{
    font-family: 'Righteous';
    font-size: 44px;
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 21px;
    margin-top: 8px;    
}
.topo h2{
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 21px;
    margin-top: 6px;
    margin-bottom: 10px;
}
.comida{
    width:414px;
    background: color #e5e5e5;;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.comida img{
    height: 87px;
    width: 144px;
    border-radius: 4px;
}
.comida h2{
    height: 25px;
    margin-left: 19px;
    font-family: 'Righteous';    
    font-weight: 400;
    font-size: 26px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 30px;
} 
.comida h3{
    font-family: 'Roboto';
    font-weight: 700,bold;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000
} 
.comida h4{
    font-family: 'Roboto';
    font-weight: 300. lighter;
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #a6a6a6
}
.prato-principal{
    overflow-x: scroll;
    display: flex;
    flex-direction: column;    
}
.menu{
    display: flex;
    flex-direction: row;    
}
.prato{
    width: 172px;
    height: 197px;
    border-radius:9px;
    padding: 6px;
    margin-left: 25px;
    margin-bottom: 35px;
    background-color: #FFFFFF;
}
.bebidas{
    overflow-x: scroll;
    display: flex; 
    flex-direction: column;
}
.bebida{
    width: 172px;
    height: 197px;
    border-radius:9px;
    padding: 6px;
    margin-left: 25px;
    margin-bottom: 35px;
    background-color: #FFFFFF;
}
.bebida h3{
    font-family: 'Roboto';
    font-weight: 700,bold;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000
}
.sobremesas{
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
}
.sobremesa{
    width: 172px;
    height: 197px;
    border-radius:9px;
    padding: 6px;
    margin-left: 25px;
    margin-bottom: 35px;
    background-color: #FFFFFF;
}
.sobremesa h3{
    font-family: 'Roboto';
    font-weight: 700,bold;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000
}

.botao-de-pedido{
    width: 414px;
    height: 92px;
    left: 0px;
    bottom: 0px;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao-pedido-completo{
  width: 364px;
  height: 61px;
  background-color: #32b72f;
  border-radius: 50px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  letter-spacing: 0.018em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botao-pedido-nao-finalizado{
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escondido{
    display: none;
}
.escolhido{
   border: 6px solid #32B72F
}
.escolhido icon{
    display: initial;
    position: absolute;
    color: #32b72f;
}

.finalizar{
    width: 364px;
    height: 61px;
    background-color: #32b72f;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalizar:disabled{
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    border-radius: 50px;
    border: none;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preco{
    font-family: 'Roboto';
    font-weight: 700,bold;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000
}
